<ion-header color="color1">
    <ion-navbar>
        <ion-title>
            Comidas Arós
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="home-content">


    <!-- start planning -->
    <ion-card class="home-card" *ngFor="let key of meals | keys">
        <!-- header planning -->
        <ion-card-header class="home-card-main-header">
            <ion-grid>
                <ion-row>
                    <!-- header col -->
                    <ion-col col-10>
                        {{meals[key] | datemeal}}
                    </ion-col>
                    <ion-col col-2>
                            <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>

        <ion-card-content>
            <!-- first item list -->
            <ion-card class="home-card-content" *ngFor="let day of meals[key]">
                <ion-card-header class="home-card-header">
                    <span>
                        {{day.date | date:"EEEE d"}}
                    </span>
                </ion-card-header>
                <ion-card-content>

                    <ion-grid>
                        <!-- header col -->
                        <ion-row>
                            <ion-col col-4>
                                <ion-icon ios="ios-person" md="md-person"></ion-icon>
                            </ion-col>
                            <ion-col col-4>
                                <ion-icon ios="ios-sunny" md="md-sunny"></ion-icon>
                            </ion-col>
                            <ion-col col-4>
                                <ion-icon ios="ios-moon" md="md-moon"></ion-icon>
                            </ion-col>
                        </ion-row>

                        <!-- col values -->
                        <ion-row *ngFor="let p of gochos">
                            <ion-col col-4>
                                {{p.name}}
                            </ion-col>
                            <ion-col col-4>
                                <span *ngIf="day.lunch.activated">
                                    <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" *ngIf="thumbs(day.lunch.people,p.id)"></ion-icon>
                                    <ion-icon ios="ios-thumbs-down" md="md-thumbs-down" *ngIf="!thumbs(day.lunch.people,p.id)"></ion-icon>
                                </span>
                                <span *ngIf="!day.lunch.activated">
                                    <ion-icon ios="ios-remove" md="md-remove"></ion-icon>
                                </span>
                            </ion-col>
                            <ion-col col-4>
                                <span *ngIf="day.dinner.activated">
                                    <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" *ngIf="thumbs(day.dinner.people,p.id)"></ion-icon>
                                    <ion-icon ios="ios-thumbs-down" md="md-thumbs-down" *ngIf="!thumbs(day.dinner.people,p.id)"></ion-icon>
                                </span>
                                <span *ngIf="!day.dinner.activated">
                                    <ion-icon ios="ios-remove" md="md-remove"></ion-icon>
                                </span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>


                </ion-card-content>
            </ion-card>
        </ion-card-content>
    </ion-card>

    <ion-fab right bottom>
        <button ion-fab color="light" (click)="newMeal()">
            <ion-icon ios="ios-add" md="md-add"></ion-icon>
        </button>
    </ion-fab>

</ion-content>