<ion-header color="color1">
  <ion-navbar>
    <ion-title>
      Crear nueva invitación
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="new-content" >
  <form #forma="ngForm" novalidate class="form-control">

  <ion-card class="new-card-content">
    <ion-card-header class="new-card-main-header">
      Seleccion de fechas 
    </ion-card-header>
    <ion-card-content>
      <ion-item class="new-card-content">
        <ion-label floating>Fecha Inicio</ion-label>
        <ion-datetime displayFormat="DDDD DD/MM/YYYY" [(ngModel)]="initDate" name="initDate" (ionChange)='updateArrayDays();validateDate()' ></ion-datetime>
      </ion-item>

      <ion-item class="new-card-content">
        <ion-label floating>FechaFin</ion-label>
        <ion-datetime displayFormat="DDDD DD/MM/YYYY" [(ngModel)]="endDate" name="endDate" (ionChange)='updateArrayDays();validateDate()' ></ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="new-card-content">
    <ion-card-header class="new-card-main-header">
      Selección de comidas
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-4>Día</ion-col>
          <ion-col col-4>
            <ion-icon ios="ios-sunny" md="md-sunny"></ion-icon>
          </ion-col>
          <ion-col col-4>
            <ion-icon ios="ios-moon" md="md-moon"></ion-icon>
          </ion-col>
        </ion-row>


        <ion-row *ngFor="let day of arrayDays;let i = index">
          <ion-col col-4>{{day.date | date:"EEEE d"}}</ion-col>
          <ion-col col-4>
            <ion-checkbox color="dark" [(ngModel)]="day.lunch.activated" [checked]="day.lunch.activated" name="lunch"></ion-checkbox>
          </ion-col>
          <ion-col col-4>
            <ion-checkbox color="dark" [(ngModel)]="day.dinner.activated" [checked]="day.dinner.activated" name="dinner"></ion-checkbox>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-card class="new-card-content">
    <ion-card-header class="new-card-main-header">
      Selección de gochos
    </ion-card-header>
    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col col-4>Persona</ion-col>
          <ion-col col-8>
            <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
            <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let g of people;let i = index" formNameArray="people">
          <ion-col col-4>{{g.name}}</ion-col>
          <ion-col col-8>
            <ion-checkbox color="dark" checked="true" [(ngModel)]="g.selected" name="selected"></ion-checkbox>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card> 
  </form>
  <ion-fab right bottom>
    <button ion-fab color="light" (click)="save(forma)">
        <!-- <ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon> -->
        <ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>

    </button>
  </ion-fab>
</ion-content>