page-new {
    .new-content{
        background-color: color($colors,color5);
        text-align: center;
    }

    .toolbar-background {
        background-color: color($colors,color1);
    }
    .toolbar-title {
        color: color($colors,light);
    }

    .new-card{
        background-color: color($colors,color5);
    }

    .new-card-header{
        background-color: color($colors,color2Alpha);
        font-weight: bold;
    }
    .new-card-main-header{
        background-color: color($colors,color2);
        color: color($colors,light);
    }
    .new-card-content{
        background-color: color($colors,color6);
    }

    .item .item-input {
        background-color: color($colors,color5);
    }
}
  